<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Recobre el control de su negocio </h3>
                <h1>Facturación electrónica desde la nube</h1>
                <h5>FacturaCohete tiene una interfaz minimalista, intuitiva y fácil de usar</h5>
                <h5>Pruébelo sin ningún compromiso</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
