<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <i class="fa fa-comment-o"></i>
            <p>
                <!--{{ site.testimonial.message }}-->
                Déjenos automatizar sus procesos administrativos para que usted se pueda concentrar más en su negocio.
            </p>
            <h4><br/>El equipo de FacturaCohete</h4>
            <p>info@facturacohete.com</p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->